body {
  background-color: #eeeeee;
}

// Bootstrap Loading Skeleton
@keyframes opacity_pulse {
  0% {
    opacity: 0.1;
    background-color: red;
  }
  100% {
    background-color: green;
    opacity: 1;
  }
}
.loading-skeleton {
  opacity: 1;
  animation: 0.5s linear 1s infinite alternate opacity_pulse;
  background-color: #ddd;
}

.swup-progress-bar {
  height: 4px;
  background-color: blue;
}
