<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none" style="display:none;position:absolute;z-index:-100">
            <symbol id="loader" x="0px" y="0px"
            viewBox="0 0 108 75" enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="var(--loader, #555)" stroke="none" cx="12" cy="30" r="12">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.1"/>
                </circle>
                <circle fill="var(--loader, #555)" stroke="none" cx="56" cy="30" r="12">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.2"/>
                </circle>
                <circle fill="var(--loader, #555)" stroke="none" cx="96" cy="30" r="12">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.3"/>
                </circle>
            </symbol>
        </svg>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none gap-2">
                <i class="bi bi-eye fs-5"></i>
                <span class="fs-4">Dream Job Search</span>
            </a>

            <ul class="nav">
                <li class="nav-item"><button class="nav-link" type="button" onclick="aboutDialog.showModal()">About</button></li>
            </ul>
            </header>
            {% block body %}{% endblock %}
        </div>

        <dialog id="aboutDialog" class="w-50">
            <form method="dialog">
                <div class="p-3">
                    <h3 class="mb-3">The best job portal ever</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt rem id eius corrupti, fugiat exercitationem similique reprehenderit a, cumque aliquam consequatur tenetur doloremque assumenda porro quam autem doloribus. Maxime.</p>
                    <button type="submit">Close</button>
                </div>
            </form>
        </dialog>
    </body>
</html>
